{% load static %}
<html>

  <head>
    <title>Buy Order {{ order.pk }}</title>
  </head>
  <script src="https://js.stripe.com/v3/"></script>
  <body>
    <h1>Order {{ order.pk }}</h1>
    <p>Items:</p>
    <ul>
    {% for item in order.items.all %}
        <li> № {{ item.pk }} {{ item.description }}
    {% endfor %}
    </ul>
{#    <p>{{ item.price }}</p>#}
    <button id="buy-button">Buy</button>
  <script>
    var stripe = Stripe('{{ api_key }}');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
        fetch('http://{{ host }}/api/v1/buy/order/{{ order.pk }}/', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.session_id }))
});
  </script>

  </body>
</html>
